<h1>Welcome to AppComponent</h1>


  <a routerLink="/user/{{username}}/{{password}}">Show User Profile</a> <br>


<button type="button"  routerLink="/home">Home</button> <br>


<a routerLink="/home">Home</a> <br>

<a  routerLink="/contact">Contact Us</a> <br>

<a  routerLink="/about"  [queryParams]="{name:'king',city:'pune',state:'maharastra'}" >About Us</a> <br>

<button type="button" routerLink="/call">Call</button>  <br>


<button type="button" (click)="doPayment()">Do Payment</button>



 <!-- here component content will be loaded or displayed -->
<router-outlet></router-outlet>